html {
    height: 100%;
}

body {
    background: url('/media/pexels-cátia-matos-1072179.jpg') no-repeat center fixed;
    background-size: cover;
    height: calc(100vh - 140px);
    color: rgb(255, 255, 255);
    font-family: 'Preahvihear';
}

.bg {
    background-color: white;
    color: black;
    border-radius: 0.25rem;
} 

.logo-font {
    text-transform: uppercase;
    text-align: center;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/*-- Toast Messages --*/
.toast {
    border-bottom-left-radius: 1rem 1rem;
    border-bottom-right-radius: 1rem 1rem;
}

.toast-container {
    position: fixed;
    top: 8rem;
    right: 1.5rem;
    z-index: 11;
}

.toast-header{
    border: white 1px solid;
    background-clip: unset;
    border-bottom: None
}

.toast-body {
    border: white 1px solid;
    background-clip: unset;
    border-bottom-left-radius: 1rem 1rem;
    border-bottom-right-radius: 1rem 1rem;
}

.toast h5 {
    font-size: 1.4rem;
    font-weight: 600;
}

.toast-error i,
.toast-error h5 {
    color: red;
}

.toast-info i,
.toast-info h5 {
    color: blue;
}

.toast-success i,
.toast-success h5 {
    color: green;
}

.toast-warning i,
.toast-warning h5 {
    color: yellow;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}
  
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {  
    .top {
        padding-top: 140px;
      }

    .index {
        padding-top: 200px;
    }
}

@media (max-width: 992px) {
    .top {
        padding-top: 80px;
    }

    .index {
        padding-top: 150px;
    }
}