<!-- Warning Toast -->
<div class="toast-container">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <!-- Toast Header -->
        <div class="toast-header toast-warning">
            <i class="fas fa-exclamation-circle fa-2x me-2"></i>
            <h5 class="pt-1 me-auto">Error</h5>
            <button type="button" class="btn-close btn-lg btn-close-dark" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <!-- Toast Body -->
        <div class="toast-body text-medium bg">
            <!-- Message -->
            <div class="row">
                <div class="col">                    
                    <p class="text-medium text-black mb-0">{{ message }}</p>
                </div>
            </div>
        </div>
    </div>
</div>